@charset "utf-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, figure {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*fin del reset css*/

#cabeceraIndex {
	width:91%;
	margin:15px auto;
}

#tablaOpciones {
	width: 65%;
	margin: 15px auto;
}

.opciones {
	width: 50%;
	height: 80px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    width:100%;
    height: 100%;
    font-size: 20px;
}